h1{
    color:blue;
    font-family: Verdana;
    font-size: 300%;
}
h2{
    color: crimson;
    font-family: Courier;
    font-size: 200%;
}
p{
    color: darkmagenta;
    font-family: Courier;
    font-size: 100%;
}
body{
    background-color: pink;
    text-align: center;
    }
.images{
    margin:100px;
    border:1px solid #cccccc;
    align-items: center;

}
.button{
    background-color: red;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.mySlides {
    display:none;
    margin:100px
    align-items:center;
    }